<h1 class="font-title pdp-title">{{ product.title }}</h1>
<div class="pdp-reviews mt-4 -ml-2.5">
    {% comment %}<!-- TrustBox widget - Product Mini MultiSource -->
    <div class="trustpilot-widget" data-locale="en-GB" data-template-id="577258fb31f02306e4e3aaf9" data-businessunit-id="5e9e06809f2da40001b0fdda" data-style-height="24px" data-style-width="100%" data-sku="{{ product.selected_or_first_available_variant.sku }}" data-star-color="#2A4125" data-font-family="Merriweather" data-text-color="#092331" data-no-reviews="show" data-scroll-to-list="false" data-style-alignment="left">
        <a href="https://uk.trustpilot.com/review/ruby-group.co.uk" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <!-- End TrustBox widget -->{% endcomment %}
    <!-- TrustBox widget - Micro Star -->
    <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="5e9e06809f2da40001b0fdda" data-style-height="20px" data-font-family="Merriweather" data-text-color="#2A4125">
        <a href="https://uk.trustpilot.com/review/ruby-group.co.uk" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <!-- End TrustBox widget -->
</div>
{% render 'pdp-trust-icons' product: product %}