{% render 'main-product' section: section, product: product, bespoke_product: false %}

{% schema %}
{
  "name": "Product details",
  "class": "section-product-template",
  "settings": [
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_media",
      "label": "Enable stick on scroll",
      "default": true
    },
    {
      "type": "text",
      "id": "tool_tip_message",
      "label": "Tool tip message",
      "default": "Enter the area in square meters"
    },
    {
      "type": "select",
      "id": "media_size",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "media_layout",
      "label": "Layout",
      "options": [
        {
          "label": "List",
          "value": "list"
        },
        {
          "label": "Thumbnails - below",
          "value": "thumbnails-below"
        },
        {
          "label": "Thumbnails - left",
          "value": "thumbnails-left"
        }
      ],
      "default": "list"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "spec_tab",
      "name": "Specification Tab",
      "limit": 1,
      "settings": [
        {
          "id": "spec_tab_title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "spec_tab_image",
          "type": "image_picker",
          "label": "Select Image"
        }
      ]
    },
    {
      "type": "desc_tab",
      "name": "Description Tab",
      "limit": 1,
      "settings": [
        {
          "id": "desc_tab_title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "video",
          "type": "video",
          "label": "Select Video"
        },
        {
          "id": "desc_content",
          "type": "richtext",
          "label": "Short Description"
        }
      ]
    },
    {
      "type": "delivery_tab",
      "name": "Delivery Tab",
      "limit": 1,
      "settings": [
        {
          "id": "delivery_tab_title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "delivery_tab_image",
          "type": "image_picker",
          "label": "Select image"
        }
      ]
    },
    {
      "type": "payment_tab",
      "name": "Payment Tab",
      "limit": 1,
      "settings": [
        {
          "id": "payment_tab_title",
          "type": "text",
          "label": "Title"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "label": "Show quantity selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_area_calculator",
          "label": "Show area calculator"
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "Show recipient information form for gift card products.",
          "info": "Allow customers to send gift cards to a recipient along with a personal message. When enabled, the dynamic checkout button will be disabled for gift cards. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)"
        },
        {
          "type": "checkbox",
          "id": "show_pickup_availability",
          "label": "Show pickup availability",
          "default": true,
          "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)"
        },
        {
          "type": "checkbox",
          "id": "show_backorder_text",
          "label": "Show backorder text",
          "default": true,
          "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
        },
        {
          "type": "header",
          "content": "Inventory"
        },
        {
          "type": "select",
          "id": "show_inventory_notice",
          "label": "Show inventory notice",
          "options": [
            {
              "label": "Never",
              "value": "never"
            },
            {
              "label": "Only when inventory low",
              "value": "low"
            },
            {
              "label": "Always",
              "value": "always"
            }
          ],
          "default": "never"
        },
        {
          "type": "select",
          "id": "show_inventory_count",
          "label": "Show count in inventory notice",
          "options": [
            {
              "label": "Never",
              "value": "never"
            },
            {
              "label": "Only when inventory low",
              "value": "low"
            },
            {
              "label": "Always",
              "value": "always"
            }
          ],
          "default": "low"
        },
        {
          "type": "range",
          "id": "inventory_notice_threshold",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Low inventory threshold",
          "default": 10
        }
      ]
    },
    {
      "type": "complementary",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, add the Search & Discovery app. [Learn more](https:\/\/shopify.dev\/themes\/product-merchandising\/recommendations)"
        },
        {
          "type": "text",
          "id": "block_heading",
          "default": "Pairs well with",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "enable_carousel",
          "label": "Enable carousel",
          "default": true
        },
        {
          "type": "range",
          "id": "max_products",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Maximum products to show",
          "default": 10
        }
      ]
    },
     {
      "type": "variant_base_upsell",
      "name": "Variant based upsell",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "block_heading",
          "default": "Also something for you:",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "enable_carousel",
          "label": "Enable carousel",
          "default": true
        },
        {
          "type": "range",
          "id": "max_products",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Maximum products to show",
          "default": 10
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid"
        }
      ]
    },
    {
      "type": "custom_option",
      "name": "Custom option",
      "settings": [
        {
          "type": "paragraph",
          "content": "Custom options will not show in the quick buy."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "info": "Required",
          "default": "Custom option"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "default": "text",
          "options": [
            {
              "label": "Text",
              "value": "text"
            },
            {
              "label": "Long text",
              "value": "textarea"
            },
            {
              "label": "Checkbox",
              "value": "checkbox"
            },
            {
              "label": "Multiple options",
              "value": "multiple"
            }
          ]
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "checkbox",
          "id": "text_required",
          "label": "Require text",
          "info": "Only works with 'Add to cart' button",
          "default": false
        },
        {
          "type": "header",
          "content": "Checkbox"
        },
        {
          "type": "text",
          "id": "checkbox_checked_value",
          "label": "Checked value",
          "default": "Yes"
        },
        {
          "type": "text",
          "id": "checkbox_unchecked_value",
          "label": "Unchecked value",
          "default": "No"
        },
        {
          "type": "header",
          "content": "Multiple options"
        },
        {
          "type": "select",
          "id": "multiple_style",
          "label": "Style",
          "default": "dropdown",
          "options": [
            {
              "label": "Dropdown",
              "value": "dropdown"
            },
            {
              "label": "Radio",
              "value": "radio"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "multiple_options",
          "label": "Options",
          "default": "Option 1\nOption 2\nOption 3",
          "info": "One option on each line"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Show full width",
          "info": "Will show underneath product media and details",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_tabs",
          "label": "Enable tabs",
          "default": false
        },
        {
          "type": "paragraph",
          "content": "Show 2 further tabs by adding a title and content or selecting a page"
        },
        {
          "type": "radio",
          "id": "tab_direction",
          "label": "Tab direction",
          "default": "horizontal",
          "options": [
            {
              "value": "horizontal",
              "label": "Horizontal"
            },
            {
              "value": "vertical",
              "label": "Vertical"
            }
          ]
        },
        {
          "type": "header",
          "content": "Tab 1"
        },
        {
          "type": "select",
          "id": "icon_1",
          "label": "Vertical tab icon",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "No icon"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar-days",
              "label": "Calendar days"
            },
            {
              "value": "check",
              "label": "Check"
            },
            {
              "value": "check-circle",
              "label": "Check circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "dollar-sign",
              "label": "Dollar sign"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "help-circle",
              "label": "Help circle"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "menu",
              "label": "Menu"
            },
            {
              "value": "message-circle",
              "label": "Message circle"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "search",
              "label": "Search"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shrub",
              "label": "Shrub"
            },
            {
              "value": "shopping-bag",
              "label": "Shopping bag"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "undo",
              "label": "Undo"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "vegan",
              "label": "Vegan"
            }
          ]
        },
        {
          "type": "text",
          "id": "tab_1_title",
          "label": "Title",
          "default": "Description"
        },
        {
          "type": "header",
          "content": "Tab 2"
        },
        {
          "type": "select",
          "id": "icon_2",
          "label": "Vertical tab icon",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "No icon"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar-days",
              "label": "Calendar days"
            },
            {
              "value": "check",
              "label": "Check"
            },
            {
              "value": "check-circle",
              "label": "Check circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "dollar-sign",
              "label": "Dollar sign"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "help-circle",
              "label": "Help circle"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "menu",
              "label": "Menu"
            },
            {
              "value": "message-circle",
              "label": "Message circle"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "search",
              "label": "Search"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shrub",
              "label": "Shrub"
            },
            {
              "value": "shopping-bag",
              "label": "Shopping bag"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "undo",
              "label": "Undo"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "vegan",
              "label": "Vegan"
            }
          ]
        },
        {
          "type": "text",
          "id": "tab_2_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "tab_2_content",
          "label": "Content"
        },
        {
          "type": "page",
          "id": "tab_2_page",
          "label": "Content from page"
        },
        {
          "type": "header",
          "content": "Tab 3"
        },
        {
          "type": "select",
          "id": "icon_3",
          "label": "Vertical tab icon",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "No icon"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar-days",
              "label": "Calendar days"
            },
            {
              "value": "check",
              "label": "Check"
            },
            {
              "value": "check-circle",
              "label": "Check circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "dollar-sign",
              "label": "Dollar sign"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "help-circle",
              "label": "Help circle"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "menu",
              "label": "Menu"
            },
            {
              "value": "message-circle",
              "label": "Message circle"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "search",
              "label": "Search"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shrub",
              "label": "Shrub"
            },
            {
              "value": "shopping-bag",
              "label": "Shopping bag"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "undo",
              "label": "Undo"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "vegan",
              "label": "Vegan"
            }
          ]
        },
        {
          "type": "text",
          "id": "tab_3_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "tab_3_content",
          "label": "Content"
        },
        {
          "type": "page",
          "id": "tab_3_page",
          "label": "Content from page"
        }
      ]
    },
    {
      "type": "accordion",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Collapsible tab"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "No icon"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar-days",
              "label": "Calendar days"
            },
            {
              "value": "check",
              "label": "Check"
            },
            {
              "value": "check-circle",
              "label": "Check circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "dollar-sign",
              "label": "Dollar sign"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "help-circle",
              "label": "Help circle"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "menu",
              "label": "Menu"
            },
            {
              "value": "message-circle",
              "label": "Message circle"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "search",
              "label": "Search"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shrub",
              "label": "Shrub"
            },
            {
              "value": "shopping-bag",
              "label": "Shopping bag"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "undo",
              "label": "Undo"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "vegan",
              "label": "Vegan"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content",
          "default": "<p>Collapsible tab content</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "Open",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Show full width",
          "info": "Will show underneath product media and details",
          "default": false
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 60,
          "max": 700,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 700
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Link text"
        },
        {
          "type": "radio",
          "id": "style",
          "label": "Button style",
          "options": [
            { "value": "button_1", "label": "Button - primary" },
            { "value": "button_2", "label": "Button - secondary" },
            { "value": "link_style", "label": "Link"}
          ],
          "default": "button_1"
        }
      ]
    },
    {
      "type": "reviews_summary",
      "name": "Reviews summary",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Add reviews by installing the [Shopify Product Reviews app](https:\/\/apps.shopify.com\/product-reviews?ref=cleancanvas)"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Rich text",
      "settings": [
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Rich text",
          "default": "<p>Rich text block</p>"
        }
      ]
    },
    {
      "type": "sharing",
      "name": "Sharing",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "weight",
      "name": "Weight",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Text block"
        }
      ]
    },
    {
      "type": "title_and_price",
      "name": "Title and price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tax_and_shipping",
          "label": "Show tax status and shipping policy link",
          "default": false
        }
      ]
    },
    {
      "type": "type",
      "name": "Type",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Size chart"
        },
        {
          "type": "checkbox",
          "id": "size_chart_enabled",
          "label": "Show size chart",
          "default": false
        },
        {
          "type": "text",
          "id": "size_chart_option_name",
          "label": "Option name",
          "default": "Size",
          "info": "Enter the product option name. The size chart link will sit below this product option."
        },
        {
          "type": "page",
          "id": "size_chart_page_id",
          "label": "Select page"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "pdp_video",
      "name": "PDP Video",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_pdp_video",
          "label": "Enable PDP video",
          "default": true
        },
      ]
    },
  ]
}
{% endschema %}