<!-- TrustBox widget - Grid -->
{% comment %} <div class="trustpilot-widget container mb-8 md:mb-16 pt-8 pb-12 bg-lighter-green" data-locale="en-US" data-template-id="539adbd6dec7e10e686debee" data-businessunit-id="5e9e06809f2da40001b0fdda" data-style-height="600px" data-style-width="100%" data-stars="4,5" data-review-languages="en" data-font-family="Poppins" data-text-color="#000000">
  <a href="https://www.trustpilot.com/review/ruby-group.co.uk" target="_blank" rel="noopener">Trustpilot</a>
</div> {% endcomment %}
<!-- End TrustBox widget -->

{% comment %} <!-- TrustBox widget - Carousel -->
  <div class="trustpilot-widget container mb-8 md:mb-16 pt-12 pb-12 bg-lighter-green" data-locale="en-GB" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5e9e06809f2da40001b0fdda" data-style-height="140px" data-style-width="100%" data-stars="4,5" data-review-languages="en" data-font-family="Poppins" data-text-color="#000000">
    <a href="https://uk.trustpilot.com/review/ruby-group.co.uk" target="_blank" rel="noopener">Trustpilot</a>
  </div>
  <!-- End TrustBox widget --> {% endcomment %}

<!-- TrustBox widget - Slider -->
<div class="trustpilot-widget container mb-8 md:mb-16 pt-12 pb-12 bg-lighter-green" data-locale="en-GB" data-template-id="54ad5defc6454f065c28af8b" data-businessunit-id="5e9e06809f2da40001b0fdda" data-style-height="240px" data-style-width="100%" data-stars="4,5" data-review-languages="en" data-font-family="Poppins" data-text-color="#000000">
  <a href="https://uk.trustpilot.com/review/ruby-group.co.uk" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->

{% schema %}
{
  "name": "PDP Reviews",
  "settings": [],
  "presets": [
    {
      "name": "PDP Reviews",
      "settings": {}
    }
  ],
  "disabled_on": {
    "groups": [
      "aside"
    ]
  }
}
{% endschema %}