@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://cdn.shopify.com/s/files/1/1234/2786/files/merriweather-v30-latin-regular.woff2?v=1739879823') format('woff2');
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('https://cdn.shopify.com/s/files/1/1234/2786/files/merriweather-v30-latin-900.woff2?v=1739879823') format('woff2');
}
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.shopify.com/s/files/1/1234/2786/files/inter-v18-latin-regular.woff2?v=1740656720') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('https://cdn.shopify.com/s/files/1/1234/2786/files/inter-v18-latin-600.woff2?v=1740656720') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
